* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
}

.container__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5BBE5E;
}

.controls {
    padding: 16px;
    background: #69BEFF;
    border-right: 0.1px solid blue;
}

.controls__title {
    margin-bottom: 16px;
    color: #FDC93C;
    text-shadow: 0 1px 2px black;
}

.controls__subtitle {
    margin-bottom: 8px;
}

.controls__group {
    margin-bottom: 16px;
}

.controls__label {
    display: block;
}

.controls__input {
    width: 280px;
    padding: 8px 12px;
    margin-top: 4px;
    display: block;
    font-size: 20px;
    background: lightgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    border-bottom: 1px solid black;
}

.controls__btn {
    min-width: 64px;
    padding: 8px 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    background: lightblue;
    box-shadow: 0 1px 2px 0 gray;
}

.controls__btn:hover {
    cursor: pointer;
}

.grid {
    display: grid;
    background: white;
}

.grid__dirt {
    width: 30px;
    height: 30px;
    padding: 4px;
    border: 0.1px solid black;
}